/*
body back color: rgb(9, 9, 51)
Text back volor: rgba(16, 63, 85, 0.7)
Erdekes back color: rgb(23, 181, 243)
menu back color: rgb(45, 10, 4)
menu hoover back color: rgb(83, 21, 10)
menu text color: rgb(226, 105, 25)
*/

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: rgb(9, 9, 51);
    text-align: center;
    color: white;
}

/*Alap formázásai*/
.alap{
    flex-flow: column wrap;
    height: 1000px;
    margin: auto;
    width: 1300px;
    background-color: aqua;
    display: flex;
    align-items: flex-start;
}

/*Header formázásai*/
header{
    background-color: rgb(45, 10, 4);
    width: 80%;
    height: 10%;
}

/*Nav bar formázásai*/
.nav{
    order: -1;
    background-color: green;
    align-self: stretch;
    width: 20%;
    height: 100%;
}

/*tartalom*/
.tartalom{
    display: flex;
    flex-flow: row wrap;

    width: 80%;
    height: 80%;
}

/*Article mező formázásai*/
.article{
    background-color: greenyellow;
    width: 70%;
}

/*Asside mező formázásai*/
.asside{
    background-color: rgb(23, 181, 243);
    width: 30%;
}

/*Footer formázásai*/
footer{
    background-color: rgb(45, 10, 4);
    width: 80%;
    height: 10%;
}

@media only screen and (max-width: 1365px){
    .alap{
        width: 95%;
    }
}

@media only screen and (max-width: 500px){
    .alap{
        flex-direction: column;
        flex-wrap: nowrap;
    }
    header{
        width: 100%;
    }
    .nav{
        order: 0;
        width: 100%;
        height: 10%;
    }
    .tartalom{
        width: 100%;
        height: 70%;
    }
    .article{
        width: 100%;
        height: 70%;
    }
    .asside{
        width: 100%;
        height: 30%;
    }
    footer{
        width: 100%;
        height: 10%;
    }
}